services:
  db-dev:
    image: postgres:16
    container_name: db-dev
    environment:
      POSTGRES_DB: causalehr
      POSTGRES_USER: rajesh
      POSTGRES_PASSWORD: Software292$
      PGPORT: 5433
    ports:
      - "0.0.0.0:5433:5433"
    command:
      - "postgres"
      - "-c"
      - "port=5433"
    shm_size: 17g
    volumes:
      - ./causalehr_backup:/causalehr_backup:ro
      - ./restore.sh:/docker-entrypoint-initdb.d/restore.sh:ro
      - pgdata-dev:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U rajesh -d causalehr -p 5433"]
    deploy:
      resources:
        limits:
          cpus: '16'
          memory: 64G
        reservations:
          cpus: '8'
          memory: 32G

  cwt-app-dev:
    image: causalknowledgetrace:dev
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: cwt-app-dev
    ports:
      - "0.0.0.0:3837:3837"
    environment:
      - DB_HOST=db-dev
      - ENVIRONMENT=development
      - APP_PORT=3837
      - DB_PORT=5433
      - DB_USER=rajesh
      - DB_PASSWORD=Software292$
      - DB_NAME=causalehr
      - DB_SENTENCE_SCHEMA=public
      - DB_SENTENCE_TABLE=sentence
      - DB_PREDICATION_SCHEMA=public
      - DB_PREDICATION_TABLE=predication
      - DB_SUBJECT_SEARCH_SCHEMA=filtered
      - DB_SUBJECT_SEARCH_TABLE=subject_search
      - DB_OBJECT_SEARCH_SCHEMA=filtered
      - DB_OBJECT_SEARCH_TABLE=object_search
    depends_on:
      db-dev:
        condition: service_healthy
    volumes:
      - .:/causalknowledgetrace  # Mount source code for live reload in dev
    deploy:
      resources:
        limits:
          cpus: '16'
          memory: 64G
        reservations:
          cpus: '8'
          memory: 32G

volumes:
  pgdata-dev:

