# DEVELPMENT ENVIRONMENT
ENVIRONMENT=development
DB_HOST=db-dev
DB_PORT=5433
DB_USER=<username>
DB_PASSWORD=<passsword>
DB_NAME=causalehr
DB_SENTENCE_SCHEMA=public
DB_SENTENCE_TABLE=sentence

DB_PREDICATION_SCHEMA=public
DB_PREDICATION_TABLE=predication

DB_SUBJECT_SEARCH_SCHEMA=filtered
DB_SUBJECT_SEARCH_TABLE=subject_search

DB_OBJECT_SEARCH_SCHEMA=filtered
DB_OBJECT_SEARCH_TABLE=object_search

# Django Configuration
DJANGO_PORT=3837
DJANGO_SECRET_KEY=django-insecure-dev-key-change-in-production
DJANGO_ALLOWED_HOSTS=*

